<h3>Ambiente de consulta e cadastro de transportadoras e ordens de serviço</h3>

<div class='carrier_menu'>
  <%= link_to 'Adicionar transportadora', new_carrier_path %> |
  <%= link_to 'Transportadoras disponíveis', carriers_path %> |
  <%= link_to 'Gerenciar ordens de serviço', orders_path %> |
  <%= link_to 'Gerenciar orçamentos', budgets_path %> 
</div>





