<h2>Ambiente de consulta e cadastro de transportadoras e ordens de serviço</h2>

<h3><%= link_to 'Adicionar transportadora', new_carrier_path %></h3>
<h3><%= link_to 'Transportadoras disponíveis', carriers_path %></h3>

