<% if @order == nil %>
  <p>Não existem pedidos cadastrados com este código</p>
<% else %>
  <h2>Última atualização do pedido</h2>
  <p>Status: <%= I18n.translate(@order.status) %> </p>
  <p>Última atualização de coordenadas: <%= @infolog.coordinates %> </p>
  <p>Data de atualização: <%= @infolog.date %> </p>
  <p>Horário de atualização: <%= @infolog.time %> </p>
<% end %>

